/*.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}*/

.ant-input:focus, .ant-input:hover {
	    border-color: #e56045;
}

.ant-input {
	border: 1px solid #ccc;
	color:#4d4d4d;
}

.ant-btn-primary{
	    background-color: #e56045;
    border-color: #e56045;
}

.ant-btn-primary:focus, .ant-btn-primary:hover{
    background-color: #cc553d;
    border-color: #cc553d;
}

.ant-btn:focus, .ant-btn:hover {
	    color: #e56045;
    background-color: #fff;
    border-color: #e56045;
}